@import url(/boilerplate.css);
@import url(/font.css);
@import url(/custom.css);
@import url(/global.css);
@import url(/hero.css);

.wrapper > :not(footer) {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

main {
  padding-top: 4rem;
}

main > :not(.hero) {
  padding-inline: clamp(32px, 4vw, 80px);
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider .vertical-line {
  background-color: var(--clr-slate-300);
  width: 1px;
  height: 80px;
  display: block;
}

.divider span {
  border: 0.5px solid var(--clr-slate-300);
  border-radius: 50px;
  padding: 11px 15px;
  background-color: var(--clr-white);
}

.divider-feature span {
  padding: 10px 15px;
}

.divider-footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -80%);
}

/* features section */

.feature {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
  margin-block: 64px;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.gallery img {
  border-radius: 8px;
}

/* description */

.feature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  max-width: 554px;
  margin: 24px auto 64px auto;
}

.feature-description h3 {
  color: var(--clr-cyan-600);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 4px;
}

/* .footer-content {
  padding: 4rem 2rem;
  background-image: url("/assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* shorthand */

footer {
  position: relative;
}

.footer-content {
  padding: 4rem 2rem;
  background: var(--clr-cyan-600) url(/assets/mobile/image-footer.jpg) center /
    cover no-repeat;
  background-blend-mode: soft-light;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.footer-content h2,
p {
  color: var(--clr-white);
}

/* mobile & tablet */

@media (min-width: 320px) {
  .hero .hero-img-half {
    display: none;
  }

  .hero .hero-img-full {
    display: block;
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero .hero-img-half {
    display: none;
  }

  .hero .hero-img-full {
    display: block;
  }
}

@media (min-width: 1440px) {
  .hero .hero-img-full {
    display: none;
  }
  .hero .hero-img-half {
    display: block;
  }

  .hero,
  .btn-grp {
    flex-direction: row;
  }

  .hero .texts {
    max-width: unset;
  }

  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    text-align: left;
  }

  .footer-content > * {
    max-width: 400px;
  }
}
